body{
    height: 100vh;
    background-image: url("../images/4.jpg");
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 5px #000;
}

#timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons{
    text-align: center;
}
button{
    margin:0 10px;
    border:none;
}


button i{
    font-size:3rem;
    padding: 10px;
    color:white;
    width: 50px;
}


#play{
    background-color: green;
}

#pause{
    background-color: orange;
}

#reset{
    background-color: red;
}